
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

  body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
  }

  .video-width{
    width:1186px;
  }
  /* ----------------- tile css------------- */
 .custom-navbar .nav li .active{
	color:#000;
	font-weight:900;
 }
 .custom-navbar .container{
   width: 90%;
  }
.container {
  width: 100%;
}
.row_car {
  overflow: scroll;
  width: 100%;
}
.row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  padding-bottom: 10px;
  padding-top:10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 450px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  background: #fff;
  box-shadow:0px 0px 4px 2px #e2e2e2;
  border-radius:10px;
}
.tile__img {
  opacity: 0;
  width: 300px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 1;
  background: linear-gradient(to top, rgba(231, 231, 231, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 450ms opacity;
}
/* .tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
} 
.tile:hover .tile__details {
  opacity: 1;
}*/
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  -webkit-transform: translate3d(-12.50000000000001px, 0, 0);
          transform: translate3d(-12.50000000000001px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 1;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(25px, 0, 0);
          transform: translate3d(25px, 0, 0);
}
  /* ---------------------------------------- */


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: normal;
	
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    color: #353535;
    font-size: 1em;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7em;
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #202020;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #29ca8e;
    outline: none;
  }

/*::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #202020;
  }
      */
  .section-title {
    padding:40px 0;
    color:#404040
  }
  .section-title-img{
    width:60px;
    height:60px;
    margin-bottom: -20px;
    margin-left:-3px;
  }
  .section-title-img img{
    width:100%;
    height:100%
  }
  .m-top-10{
    margin-top:10px
  }
  .m-top-20{
    margin-top:20px
  }
  .m-top-30{
    margin-top:30px
  }
  .m-top-80{
    margin-top:80px
  }

  section {
    position: relative;
    padding-right: 10%;
	padding-left: 10%;
  }

  #contact,
  footer {
    background: #ffffff;
    text-align: center;
  }

  .overlay {
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .online-form {
    position: relative;
  }

  .online-form .form-control {
    border-color: #f0f0f0;
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
    box-shadow: none;
    height: 50px;
    margin-right: 0.5em;
    padding-left: 15px;
    margin-top:2em;
  }
  
  .online-form input[type="email"] {
    width: 60%;
  }

  .online-form button {
    background: #29ca8e;
    border: 0;
    color: #ffffff;
    position: absolute;
    right: 10em;
    width: 25%;
  }

  .online-form button:hover {
    background: #202020;
    color: #ffffff;
  }
 
  .align-center{
	  text-align:center;
  }
  .align-left{
	  text-align:left;
  }
  .align-right{
	  text-align:right;
  }

  /*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

  .section-btn {
    background: #29ca8e;
    border: 0;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 30px;
    transition: 0.5s 0.2s;
  }

  .section-btn:hover,
  .section-btn:focus {
    background: #202020;
    color: #ffffff;
  }



  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  .custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 0px 0;
  }

  .custom-navbar .navbar-brand {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
    font-weight: bold
    
  }
  .navbar-brand{
    display: inline-block
  }
 #logo{
  background: url('../logo.png') no-repeat center center;
  background-size: 100%;
   width:128px;
   height:128px;
   margin-top:-27px;
   margin-right:2px;
   display: inline-block
 }
 /*-------------*/
 #logo > img{
   height:100%;
   width:auto;
   margin-top:-9px;
 }
 .login-button{
  margin-top: 8px;
  padding: 10px 30px 10px 30px;
  padding-bottom: 17.5px;
  padding-top: 12.5px;
  font-weight: bolder;
  color: #4681c3;
  /* background-color: #4681c3; */
  border: 2px solid #4681c3;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 23px;
 }
 .login-button > a{
   padding:0 !important;
   color:#4681c3 !important;
   width:115px;
   text-align:center;
 }
 .login-button > a:hover{
  background: transparent !important;
  /* color:#fff !important */
 }
 .login-button:hover{
   /* background-color: #4681c3; */
   border:2px solid #4681c3;
   /* color: #fff; */
   opacity: .8;
   transition: .2
   
 }
 .pad-top a{
     padding-top:24px!important;
 }

 .register-button{
  margin-top: 8px;
  padding: 14px 30px 14px 30px;
  padding-bottom: 17.5px;
  padding-top: 12.5px;
  font-weight: bolder;
  color: #4681c3;
  background-color: #4681c3;
  border: 2px solid #4681c3;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
  font-size:20px;
 }
 .register-button > a{
   padding:0 !important;
   color: #fff !important;
   width:115px;
   text-align:center;
   margin-top:2px;
 }
 .register-button > a:hover{
  background: transparent !important;
  color:#fff !important
 }
 .register-button:hover{
   background-color: #4681c3;
   border:2px solid #4681c3;
   color: #fff;
   opacity: .8;
   transition: .2
   
 }
 

 .learn-more-button{
  margin-top: 24px;
  padding: 10px 35px 10px 35px;
  padding-bottom: 7px;
  padding-top: 5px;
  font-weight: bolder;
  color: #4681c3;
  /* background-color: #4681c3; */
  border: 2px solid #fff;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
 }
 .learn-more-button > a{
   padding:0 !important;
   color:#fff !important;
 }
 .learn-more-button > a:hover{
  background: transparent !important;
  /* color:#fff !important */
 }
 .learn-more-button:hover{
   /* background-color: #4681c3; */
   border:2px solid #fff;
   /* color: #fff; */
   opacity: .8;
   transition: .2
   
 }

 .learn-more-button-blue{
  margin-top: 24px;
  padding: 10px 30px 10px 30px;
  padding-bottom: 17.5px;
  padding-top: 12.5px;
  font-weight: bolder;
  color: #4681c3;
  /* background-color: #4681c3; */
  border: 2px solid #4681c3;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
 }
    .learn-more-button-blue > a {
        padding: 0 !important;
        color: #4681c3 !important;
        width: 115px;
        text-align: center;
        margin-top: 2px;
        font-size:20px;
    }
 .learn-more-button-blue > a:hover{
  background: transparent !important;
  /* color:#fff !important */
 }
 .learn-more-button-blue:hover{
   /* background-color: #4681c3; */
   border:2px solid #4681c3;
   /* color: #fff; */
   opacity: .8;
   transition: .2
   
 }

 /*---------------*/
  .top-nav-collapse {
    background: #ffffff;
  }
  .navbar-main {
    float: right !important;
  }
  .navbar-right{
    margin-left:22px
  }

  .custom-navbar .nav li a {
    font-size: 20px;
    font-weight: normal;
    color: #7B7879;
    padding-right: 75px;
    margin-top:2px;
    padding-left: 0px;
    //font-weight: bold
  }

  /* .custom-navbar .nav li a:hover {
    background: transparent;
    color: #29ca8e;
  } */

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #29ca8e;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #29ca8e;
    border-color: transparent;
  }

  @media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0; 
    }

    .custom-navbar.top-nav-collapse {
      background: #ffffff;     
      padding: 0px 0 2px 0;
    }

    .top-nav-collapse .navbar-brand {
      color: #252525;
    }

    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .top-nav-collapse .nav .section-btn a {
      color: #ffffff;
    }
    .top-nav-collapse #logo{
      /* background: url('../logoblack.png') no-repeat center center; */
      /* background-size: cover; */
    }
  }



  /*---------------------------------------
      HOME          
  -----------------------------------------*/

  #home {    
    background: #fff;
    background-size: cover;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    min-height: 100vh;
    position: relative;
    padding-top: 174.5px;
    box-sizing:border-box;
  }
  .page-cover-image-wrap{
    position: absolute;
    height:100%;
    width:100%;
    bottom:0;
    left:0;
  }
  .page-cover-image-wrap img{
    width:100%;
    height:auto;
    position: absolute;
    top:211.4px;
  }
  .image-wrap-2 img,.image-wrap-3 img,.image-wrap-4 img,.image-wrap-5 img{
      top:0;
  }
  .home-2{
      padding-top:116px!important;
  }
  .home-3{
      padding-top:88px!important;
  }
.home-4 {
    padding-top:220px!important;
}
  #home h1 {
      font-size:48px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 24px;
  }
  #home-video{
	 background: #fff;
    background-size: cover;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    min-height: 100vh;
    position: relative;
    padding-top:142px;
  }
  .info-1 {
    margin-top: 253.5px;
    padding-right:38px;
  }
  .info-6 h1{
font-size:36px;
font-weight:bold;
  }
  .home-info-2{
      margin-top:158.5px;
  }
  
  .left-img{
      padding-left:97px;
      padding-right:30px;
      padding-top:68.5px;
  }
.home-3 .left-img{
    padding-right:0;
}

.info-3 {
    padding-top: 144px;
    padding-left: 97px;
}
.info-4{
    padding-top:144.4px;
    padding-right:95px;
}
.info-5{
    padding-top:144px;
    padding-left:97px;
}
.home-4 .right-img{
    padding-left:50px;
}
  .right-img{
      padding-left:110.6px;
      padding-right:45px;
  }
  .home-info h3 {
    color: #f0f0f0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 10px 0;
  }
  
  .home-description{
    font-size: 24px;
	color: #4F4B4C;
  }
  .home-description-intro{
	color: #fff;
    font-size: 24px;
  }

.home-mobile-banner {
    width: 110%;
}

  .home-children-tips{
    width: 90%;
    margin-top: 90px;
  }
  
  .video_container{
	  padding: 68px 0;
  }

  .section-no{
	left: 304px;
    position: absolute;
    font-weight: 900;
    font-size: 48px;
	font-family: 'Open Sans Bold', sans-serif;
	
  }
   .section-no-01{ color: #40c4f1;}
   .section-no-02{ color: #7d1e5c;}
   .section-no-03{ color: #ea234f;}
   .section-no-04{ color: #ec8024;}
   
   .home-h2{
	   font-family: 'Open Sans Bold', sans-serif;
	   font-size: 38px;
	   color: #231F20;
   }
   .home-img-01{
	   position: absolute;
    right: 120px;
    width: 280px;
    top: 65px;
   }
   .home-img-02{
	       position: absolute;
    width: 240px;
    margin-left: -6%;
    bottom: 60px;
    z-index: 10;
   }
   .home-img-03{
	     position: absolute;
    right: 138px;
    top: -13px;
    width: 243px;
   }
   .home-img-04{
	   position: absolute;
    width: 242.5px;
    left: 143px;
    bottom: 10px;
    z-index: 10;
   }
  /*---------------------------------------
      FEATURE              
  -----------------------------------------*/

  #payroll {
    background: #ffffff;
  }
  #expenses {
    background: #ffffff;
  }
  #shortDescription{
    background: #fff
  }
  .section-title h4{
    margin-bottom: 15px;
  }
  .section-point{
    font-size: 15px;
    color:#848484;
    padding:3px 0;
  }
  .section-point img{
    width:17px;
    float:left;
    height:17px;
    margin-top:4px;
  }
  .section-point p{
    color:#848484;
    padding-left: 27px;
  }
  

#features {
    position: relative;
	background-size: cover;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    min-height: 100vh;
}
#features h1{
    font-size:36px;
}
#features .features-wrapper .single-feature {
    margin-bottom: 69px;
    position: relative
}

#features .features-wrapper.right-icon .single-feature .features-icon {
    position: absolute;
    right: 0
}

#features .features-wrapper.left-icon .single-feature .features-icon {
    position: absolute;
    left: 0
}

#features .features-wrapper .single-feature .features-icon img {
    max-width: 24px
}

#features .features-wrapper.right-icon .single-feature .features-details {
    padding-right: 70px
}

#features .features-wrapper.left-icon .single-feature .features-details {
    padding-left: 70px
}

#features .features-wrapper .single-feature .features-details h5 {
    color: #00354F;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 21px
}

#features .features-wrapper .single-feature .features-details p {
    font-size: 15px;
    color: #000;
    font-weight: 300;
    line-height: 25px
}

#features .features-wrapper .single-feature .features-title h3 {
    color: #000;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 25px;
	font-family: 'Open Sans Bold', sans-serif;
	
}

.img-wid{
	width:90%;
}
.p_feature {
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 68px;
    color: #00334C;
}

.link-features{   
	display: flex;
    justify-content: center;
	padding:30px 0;
}
  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/
  #about-content{
      padding:0 455px!important;
  }
  .about-info {
    margin-top: 352px;
  }
  .about-info h1{
      font-size:48px;
  }
  .about-team-info {
    margin-top: 50px;
  }
  .about-h2{
	   font-family: 'Open Sans Bold', sans-serif;
	   font-size: 36px;
	   color: #231F20;
  }
  .about-h3{
	   font-family: 'Open Sans Bold', sans-serif;
	   font-size: 28px;
	   color: #00354F;
  }
  .cnt-block .about-h3{
	  font-weight:600;
  }
  .cnt-block h5{
	  color: #00354F;
  }
  .about-description{
    font-size: 24px;
	color: #4F4B4C;
    margin-bottom:36px;
  }
  .about-description-intro{
	color: #fff;
    font-size: 14px;
    line-height: 38px;
  }
	#about{
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    min-height: 100vh;
    position: relative;
    padding-top: 12em;
	}
	
	
  .page-cover-image-wrap-about{
    position: absolute;
    height:100%;
    width:100%;
    bottom:30px;
    left:0;
  }
  .page-cover-image-wrap-about img{
    width:100%;
    height:90%;
    position: absolute;
    top:60px;
  }
  
  .about-intro-img2{
	position: absolute;
    right: 5%;
    top: 50px;
    width: 230px;
  }
.about-intro-img-2 {
    position: absolute;
    right: 120px;
    top: 50px;
    width: 279px;
}
  #about-content{
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    min-height: 100vh;
    position: relative;
	padding:0 440px;
 }
 
 .avatar-team ul{
	 list-style: none;
     padding-left:0;
 }
 .cnt-block .img-responsive{
	width: 30%;
    display: inline-block;
 }
 .cnt-block{
	margin:auto;
    width: 413px;   
    text-align: center;
    
 }
	.avatar-team .row{
        margin-bottom:68px;
	}
  #about .col-md-4 {
    margin: 0;
    padding: 0;
  }

  


  /*---------------------------------------
      HOW IT WORKS         
  -----------------------------------------*/

 #works{
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;    
    position: relative;
    padding-top: 215px;
 }
 .image-wrap-work img{
     top:80px;
 }
 .work-children-tips{
    width: 90%;
    margin-top: 90px;
  }
  .work-intro-img2{
   position: absolute;
    width: 242px;
    margin-left: 0px;
    bottom: -90px;
    z-index: 10;
  }
.marg-bottom {
    margin-bottom: 145px;
}
  .work-info {
    margin-top: 213px;
	margin-left:100px;
  }
  .work-info h1{
      font-size:48px;
  }
  .work-2{
      padding:50px 470px!important;
  }
  .work-h2{
	   font-family: 'Open Sans Bold', sans-serif;
	   font-size: 36px;
	   color: #231F20;
  }
  .work-h3{
	   font-family: 'Open Sans Bold', sans-serif;
	   font-size: 28px;
	   color: #231F20;
	   margin-top:0;
  }
  .icon-box-description p{
      font-size:24px;
  }
  .work-description{
    font-size: 24px;
	color: #4F4B4C;
  }
  #work-content{
	 vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;    
    position: relative;
    padding-top: 12em;
	padding:0 265px;
 }
 .work-container{
	 margin-top:80px;
 }
 .icon-box-container{
	 margin-top:82px;
 }
 .icon-box-container ul{
	 list-style:none;
     padding-left:0;
 }
 .icon-box-container .work-h3{
	  font-weight:bold;
	  color:#00354F
  }
  .icon-box{
  text-align:center;
  }
  .icon-img-responsive{
     width: 320px;
    display: inline-block;
  }
  /*---------------------------------------
      FAQ             
  -----------------------------------------*/
  #faq{
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;    
    position: relative;
    padding-top: 352px;
 }
  #faq-content{
	 vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;    
    position: relative;
    padding-top: 12em;
	padding:0 250px;
 }
  .faq-img{
      margin-top:0;
  }
 .faq-children-tips{
    width: 90%;
    margin-top: 90px;
  }
  .faq-intro-img2{
   position: absolute;
    right: 138px;
    top: 106px;
    width: 243px;
  }
  .image-wrap-faq img{
      top:30px;
  }
  .faq-info {
    margin-top: 76px;
    padding-right:30px;
  }
  .faq-2{
      margin-top:221px;
  }
  .faq-info h1{
      font-size:48px!important;
  }
  .top-margin{
	  margin-top:100px;
  }
  .bottom-margin{
	  margin-bottom:100px;
  }
  .faq-h2{
	   font-family: 'Open Sans Bold', sans-serif;
	   font-size: 36px;
	   color: #231F20;

  }
  .faq-h3{
	   font-family: 'Open Sans Bold', sans-serif;
	   font-size: 28px;
	   color: #00354F;
  }
  .faq-description{
    font-size: 24px;
	color: #4F4B4C;
  }
  .faq-list .content-block{
      margin-top:135px;
      padding-bottom:50px;
  }
  .faq-list ul{
	 list-style: none;
 }
 .icon-list figure,.icon-list h3{
	 display: inline-block;
 }
 .icon-list h3{
	 padding-left:20px;
     font-size:28px;
	 font-weight:bold;
 }
 .content-block .faq-anchor{	 
	 color: #337ab7; 
     font-size:20px;
     margin-bottom:15px;
 }
 .faq-anchor-viewall{
	 font-weight:bold;
	 color: #337ab7; 
	 position:absolute;
	 bottom:0;
     font-size:20px;
 }
 .faq-list p{
     font-size:20px;
 }
 .icon-responsive{
	width: 36px;
    display: inline-block;
 }
 .content-block{
	float: left;
    width: 100%;  
	height: 100%;
    min-height: 320px;
    position:relative;
 }
 .button-center{
	 display: flex;
  justify-content: center;
 }
 #faq-detail-cont{
	  vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;    
    position: relative;
    padding-top: 12em;
	padding:0 200px;
 }
 .faq-title-detail h3{
	 font-weight:bold;
 }
 .faq-catog{
	    position: absolute;
    top: 221px;
    left: 20px;
    font-weight: bold;
    
    font-size: 18px;
 }
 .faq-catog i{
     vertical-align:middle;
 }
 .faq-catog a{color: #337ab7!important;vertical-align:middle;display:inline-block;}
 .left-div{
     padding-right:34px;
 }
 .right-div{
     padding-left:34px;
 }
  /*---------------------------------------
      CONTACT             
  -----------------------------------------*/

  #contact-form .col-md-12,
  #contact-form .col-md-4 {
    padding-left: 0;
  }

  #contact-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 3px solid #f0f0f0;
    border-radius: 0;
    box-shadow: none;
    margin: 10px 0;
  }

  #contact-form .form-control:focus {
    border-bottom-color: #202020;
  }

  #contact-form input {
    height: 50px;
  }

  #contact-form input[type='submit'] {
    background: #29ca8e;
    border-radius: 50px;
    border: 0;
    color: #ffffff;
    font-size: 17px;
    font-weight:700
  }

  #contact-form input[type='submit']:hover {
    background: #00a367;
    color: #ffffff;
  }
  


  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    padding-bottom: 80px;
  }
  .page-footer{    
    color:white;
    padding:40px 0 0 0;
  }
  .foot-cont{
	  background: #00354F;
	  width:100%;
	  padding:28px 20px 60px;
	  margin-bottom:127px;
  }
  .img-foot{
		position: absolute;
		top: 180px;
        left:278px;
		width: 320px;
  }
  
  .page-footer a{
    color:#231F20;
    font-size:27px;
    font-weight:bold;
  }
  .footer-logo{
    width:50px;
    height:auto;
    margin-top:3px;
  }
  .footer-logo-text{
    color:#fff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding:15px;
  }
  .footer-copyright{
    margin-top:30px;
    padding:14px 0 120px;
    text-align: center;
    background: #FFFFFF;
    color:#7B7879;
  }
  .copyright-text p {
    margin: 5px;
  }

.footer-copyright .container-fluid .list-inline > li {
  margin: 0em 1em;
}

.footer-tagline {
    color: #C5C62E !important;
    font-size: 48px !important;
    font-weight: bold !important;
    margin-top: 35px !important;
    margin-bottom: 24px !important;
    line-height:1em!important;
}

.footer-description{
  color: #fff !important;
  font-size: 24px !important;
  margin-bottom: 34px !important;
  padding-right: 150px;
}
.footer-button{
	margin-bottom:20px;
}
.bottom-margin-20{
	margin-bottom:20px;
}
  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 50px;
    color: #202020;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li a:hover {
    background: #536976;
    color: #ffffff;
  }



  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media only screen and (max-width: 1200px) {

    .custom-navbar .navbar-nav {
      margin-left: 3em;
    }

    .home-info {
      margin-top: 0;
    }
  }


  @media only screen and (max-width: 992px) {

    section {
      padding: 60px 0;
    }

    .custom-navbar .navbar-nav {
      margin-left: 0;
    }

    .custom-navbar .nav li a {
      font-size: 14px;
      padding-right: 15px;
      padding-left: 15px;
    }

    #feature .nav-tabs>li>a {
      font-size: 16px;
      margin-right: 20px;
    }

    .feature-image {
      bottom: -24em;
    }

    .pricing-thumb {
      margin-bottom: 30px;
    }

    footer {
      padding-bottom: 40px;
    }
  }


  @media screen and (max-width: 767px) {

    .section-title {
      padding-bottom: 20px;
    }

    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .nav li a {
      line-height: normal;
      padding: 5px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #202020;
      font-weight: normal;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #7B7879;
    }

    .feature-image {
      position: relative;
      bottom: 0;
    }

    #about .col-md-4:nth-child(3n) .team-thumb {
      display: flex;
      -webkit-box-orient: vertical;
      flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
    }

    .team-thumb-down:after {
      top: -15px;
      bottom: inherit;
      border-top: inherit;
      border-bottom: 15px solid #ffffff;
    }

    .testimonial-image,
    .testimonial-info {
      height: 85vh;
    }

    .testimonial-info {
      padding: 30px;
    }
  }


  @media screen and (max-width: 480px) {

    .online-form input[type="email"],
    .online-form .form-control {
      width: 85%;
    }

    .online-form .form-control {
      display: block;
      margin: 20px auto;
    }

    .online-form button {
      position: relative;
      right: 0;
    }

    .testimonial-image,
    .testimonial-info {
      height: 65vh;
    }
  }


  /*---Offset CSS---*/

  .offset-md-1{
      margin-left:8.333333%;
  }
.offset-md-2 {
    margin-left: 16.666667%;
}

  .navbar{
      padding:32.5px 0 38.5px!important;
	  background-color: #fff;
  }

  @media screen and (max-width:768px){
#home h1{
    color:black;
}
.register-button{
    padding-top:10px;
    padding-bottom:10px;
    width:60%;
    margin-left:15px;
}
.home-children-tips,.work-children-tips{
    width:50%;
    margin-left:25%;
    margin-top:0;
}
    .offset-md-1{
        margin-left:0;
    }
    .learn-more-button-blue{
        width:60%;
        margin-left:15px;

    }
    .video_container video{
        width:100%;
    }
    .img-foot{
        top:0;
    }
    .home-2 .container,.home-4 .container{
        margin-top:50px;
    }
    #home-video{
margin-top:100px;
    }
    .navbar{
        text-align:right;
    }
    .navbar .login-button{
text-align:center;
margin-right:0;
    }
    .navbar .register-button{
        width:100%;
        margin-left:0;
    }
    #about-content, #work-content,#faq-content {
        padding: 0px 15px;
    }
    .avatar-team .row{
        padding-left:0;
    }
    .work-info{
        margin-left:0;
    }
    #work-content .row{
        padding-left:0;
    }
    .faq-list .row{
        padding-left:0;
    }
    #faq-content .learn-more-button-blue{
        width:100%;
        text-align:center;
    }
    #faq-detail-cont{
        padding:0 15px;
    }
    .faq-catog{
        position:static;
    }
    .home-mobile-banner{
        width:100%;
    }
    .section-no{
        left:40px;
    }
    .p_feature{
        margin:15px 0 50px;
    }
    .footer-description{
        padding-right:20px;
    }
    .img-foot{
        width:150px;
    }
    .show-on-mob{
        display:block!important;
    }
    .hide-on-mob{
        display:none;
    }
    .about-info,.work-info{
        margin-top:50px;
    }
    .work-2{
        padding-top:100px!important;
    }
    .work-h3,.faq-info{
        margin-top:40px;
    }
    .faq-list .content-block{
       margin-top:40px!important;
    }
    #faq-detail-cont{
        padding-top:100px!important;
    }
  }
.fadeInUpShort {
    -webkit-animation-name: fadeinUpShort;
    animation-name: fadeinUpShort;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fadeinUpShort {
    0% {
        -webkit-transform: translate3d(0,40px,0);
        opacity: 0;
        transform: translate3d(0,40px,0);
    }

    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}
.fadeInLeftShort {
    -webkit-animation-name: fadeInLeftShort;
    animation-name: fadeinLeftShort;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fadeinLeftShort {
    0% {
        -webkit-transform: translate3d(-40px,0,0);
        opacity: 0;
        transform: translate3d(-40px,0,0);
    }

    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

.fadeInRightShort {
    -webkit-animation-name: fadeinRightShort;
    animation-name: fadeinRightShort;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fadeinRightShort {
    0% {
        -webkit-transform: translate3d(40px,0,0);
        opacity: 0;
        transform: translate3d(40px,0,0);
    }

    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

.animated,.animated-2,.animated-3{
    opacity:0;
}
.show-on-mob{
    display:none;
}
#gs1,#gs2,#gs3,#gs4,#gs5,#gs6,#gs7,#gs8,#gs9,#gs10{
    padding-top:20px;
}

@media all and (max-width: 1382px){
  #logo{
    background: url(../logo.png) no-repeat center center;
    background-size: 100%;
    width: 65px;
    height: 100px;
    margin-right: 2px;
    display: inline-block;
}

.navbar {
  padding: 0px 0 15.5px!important;
  background-color: #fff;
}
.custom-navbar .nav li a {
  font-size: 16px;
  font-weight: normal;
  color: #7B7879;
  padding-right: 30px;
  margin-top: 2px;
  padding-left: 0px;
}
.login-button {
  margin-top: 20px;
  padding: 5px 0px 5px 0px;
  font-weight: bolder;
  color: #4681c3;
  /* background-color: #4681c3; */
  border: 2px solid #4681c3;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 23px;
}

.navbar .register-button {
  margin-top: 20px;
  padding: 5px 0px 5px 0px;
  font-weight: bolder;
  color: #4681c3;
  background-color: #4681c3;
  border: 2px solid #4681c3;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.page-cover-image-wrap img {
  width: 100%;
  height: 90%;
  position: absolute;
  top:36px;
}
#home{
  min-height: 100vh;
  margin-top: 100px;
  padding-top: 0px;
}
.info-1 {
  margin-top: 145px;
  padding-right: 0px;
}
.home-mobile-banner {
  width: 100%;
}
#home h1 {
  font-size:30px;
}
.home-description-intro {
  font-size: 16px;
}
/* .fadeInRightShort{
  margin-top:0px;
} */
.register-button {
  margin-top: 8px;
  padding: 5px 5px 5px 5px;
  /* padding-bottom: 0px;
  padding-top: 0px; */
  font-weight: bolder;
  color: #4681c3;
  background-color: #4681c3;
  border: 2px solid #4681c3;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}
.register-button > a{
  margin-top:0px;
}
.footer-copyright {
  padding: 15px 0px 20px;
}
.page-footer a{
  font-size:8px;
}
.foot-cont{
  margin-bottom: 0px;
  padding : 0px 0px 0px 0px;
}
.img-foot {
  top: 142px;
  left: 278px;
  width: 122px;
}
.footer-tagline {
  font-size: 26px !important;
  margin-top: 35px !important;
  margin-bottom: 20px !important;
  line-height: 1em!important;
}
.footer-description {
  font-size: 16px !important;
  margin-bottom: 20px !important;
  padding-right: 150px;
}
#features h1 {
  font-size: 24px;
}
.p_feature {
  font-size: 14px;
  margin: 20px 0 30px;
 
}
.img-wid {
  width: 60%;
}
#features .features-wrapper .single-feature .features-title h3 {
  font-size: 16px;
  margin-bottom: 25px;
}

#features .features-wrapper .single-feature .features-details h5 {
  font-size: 14px;
  margin-bottom: 13px;
}
#features .features-wrapper .single-feature .features-details p {
  font-size: 12px;
  line-height: 20px;
}
#features .features-wrapper .single-feature {
  margin-bottom: 20px;
}
#features .features-wrapper.right-icon .single-feature .features-details {
  padding-right: 45px;
}
#features .features-wrapper.left-icon .single-feature .features-details {
  padding-left: 45px;
}
.link-features{
  padding:0px 0px;
}
.learn-more-button-blue {
  margin-top: 24px;
  padding: 10px 10px 10px 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.learn-more-button-blue > a {
  font-size: 14px;
  font-weight: regular; 

}
.info-6 h1 {
  font-size: 24px;
  font-weight: bold;
}

.video-width{
  width:780px;
}
.video_container {
  padding: 40px 0;
}
.home-h2 {
  font-size: 28px;
  color: #231F20;
}
.home-description {
  font-size: 14px;
}
.home-img-01 {
  position: absolute;
  right: 120px;
  width: 12%;
  top: 53px;
}
.home-children-tips {
  width: 85%;
  margin-top: 10px;
}
.home-info-2 {
  margin-top: 200px;
}
.info-3 {
  padding-top: 31px;
  padding-left: 97px;
}
.home-img-02 {
  position: absolute;
  width: 12%;
  margin-left: 0%;
  bottom: -20px;
  z-index: 10;
}
.home-img-03 {
  position: absolute;
  right: 138px;
  top: 14px;
  width: 12%;
}
.info-4 {
  padding-top: 60px;
  padding-right: 95px;
}

.left-img {
  padding-left: 97px;
  padding-right: 30px;
  padding-top: 110px;
}

.info-5 {
  padding-top: 0px;
}
.home-img-04 {
  position: absolute;
  width: 12%;
  left: 143px;
  bottom: -53px;
  z-index: 10;
}

.home-h2{
  margin-top:0px;
}

}